html
	head
		style
			include guage.css
		title= "Guage - " + name
	body
		header
			h1#h= name
		a(href="/")
			h1#back < Back
		div.colset
			div.col
				img(src="/images/" + name + ".png").preview
				a(href="/images/" + name + ".png" target="_blank")
					div.button Print!
			div.col
				p.description= description
				pre= "Interval: " + interval/1000 + " secs"
				h2 Parameters
				div#params
					each param,title in params
						div.inputGroup
							label= title
							input(type="text" value=param)
				div.button#save Save & Use!
		script
			include selector.js
